{{define "form/vless"}}
<a-form layout="inline">
    <a-form-item label="id">
        <a-input-group compact style="display: flex; width: 420px;">
            <a-input v-model.trim="inbound.settings.vlesses[0].id" style="width: 75%"></a-input>
            <a-button size="small" style="width: 25%" @click="inbound.settings.vlesses[0].refreshId()">
                更换
            </a-button>
        </a-input-group>
    </a-form-item>

    <a-form-item v-if="inbound.canEnableTlsFlow()" label="flow">
        <a-space>
            <a-switch v-model="inbound.tlsFlowEnabled"></a-switch>
            <a-select v-if="inbound.tlsFlowEnabled" v-model="inbound.settings.vlesses[0].flow" style="width: 180px">
                <a-select-option value="">无</a-select-option>
                <a-select-option v-for="key in TLS_FLOW_CONTROL" :value="key">[[ key ]]</a-select-option>
            </a-select>
        </a-space>
    </a-form-item>
</a-form>
<a-form v-if="inbound.canEnableAuthentication() && inbound.authentication" layout="inline">
    <a-form-item label="Authentication">
        <a-select v-model="inbound.settings.selectedAuth" @change="getNewVlessEnc" style="width: 250px">
            <a-select-option value="X25519, not Post-Quantum">X25519 (not Post-Quantum)</a-select-option>
            <a-select-option value="ML-KEM-768, Post-Quantum">ML-KEM-768 (Post-Quantum)</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label="decryption">
        <a-input v-model.trim="inbound.settings.decryption"></a-input>
    </a-form-item>
    <a-form-item label="encryption">
        <a-input v-model="inbound.settings.encryption"></a-input>
    </a-form-item>
    <a-form-item label=" ">
        <a-space>
            <a-button type="primary" icon="import" @click="getNewVlessEnc">Get New keys</a-button>
        </a-space>
    </a-form-item>
</a-form>
<a-form layout="inline">
    <a-form-item label="fallbacks">
        <a-row>
            <a-button type="primary" size="small" @click="inbound.settings.addFallback()">
                +
            </a-button>
        </a-row>
    </a-form-item>
</a-form>

<!-- vless fallbacks -->
<a-form v-for="(fallback, index) in inbound.settings.fallbacks" layout="inline">
    <a-divider>
        fallback[[ index + 1 ]]
        <a-icon type="delete" @click="() => inbound.settings.delFallback(index)"
            style="color: rgb(255, 77, 79);cursor: pointer;" />
    </a-divider>
    <a-form-item label="name">
        <a-input v-model="fallback.name"></a-input>
    </a-form-item>
    <a-form-item label="alpn">
        <a-input v-model="fallback.alpn"></a-input>
    </a-form-item>
    <a-form-item label="path">
        <a-input v-model="fallback.path"></a-input>
    </a-form-item>
    <a-form-item label="dest">
        <a-input v-model="fallback.dest"></a-input>
    </a-form-item>
    <a-form-item label="xver">
        <a-input type="number" v-model.number="fallback.xver"></a-input>
    </a-form-item>
    <a-divider v-if="inbound.settings.fallbacks.length - 1 === index" />
</a-form>
<a-form v-if="inbound.canEnableVisionSeed()">
    <a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
        <a-form-item label="Vision Seed">
            <a-row :gutter="8">
                <a-col :span="6">
                    <a-input-number
                        :value="(inbound.settings.testseed && inbound.settings.testseed[0] !== undefined) ? inbound.settings.testseed[0] : 900"
                        @change="(val) => updateTestseed(0, val)" :min="0" :max="9999" :style="{ width: '100%' }"
                        placeholder="900" addon-before="[0]"></a-input-number>
                </a-col>
                <a-col :span="6">
                    <a-input-number
                        :value="(inbound.settings.testseed && inbound.settings.testseed[1] !== undefined) ? inbound.settings.testseed[1] : 500"
                        @change="(val) => updateTestseed(1, val)" :min="0" :max="9999" :style="{ width: '100%' }"
                        placeholder="500" addon-before="[1]"></a-input-number>
                </a-col>
                <a-col :span="6">
                    <a-input-number
                        :value="(inbound.settings.testseed && inbound.settings.testseed[2] !== undefined) ? inbound.settings.testseed[2] : 900"
                        @change="(val) => updateTestseed(2, val)" :min="0" :max="9999" :style="{ width: '100%' }"
                        placeholder="900" addon-before="[2]"></a-input-number>
                </a-col>
                <a-col :span="6">
                    <a-input-number
                        :value="(inbound.settings.testseed && inbound.settings.testseed[3] !== undefined) ? inbound.settings.testseed[3] : 256"
                        @change="(val) => updateTestseed(3, val)" :min="0" :max="9999" :style="{ width: '100%' }"
                        placeholder="256" addon-before="[3]"></a-input-number>
                </a-col>
            </a-row>
            <a-space :size="8" :style="{ marginTop: '8px' }">
                <a-button type="primary" @click="setRandomTestseed">
                    Rand
                </a-button>
                <a-button @click="resetTestseed">
                    Reset
                </a-button>
            </a-space>
        </a-form-item>
    </a-form>
    <a-divider :style="{ margin: '5px 0' }"></a-divider>
</a-form>
{{end}}
