{{define "form/streamSOCKOPT"}}
<a-form layout="inline">
    <a-form-item label="TFO">
        <a-select v-model="inbound.stream.sockopt.tcpFastOpen" style="width: 165px;">
            <a-select-option value="false">false</a-select-option>
            <a-select-option value="true">true</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label="TCP拥塞控制">
        <a-select v-model="inbound.stream.sockopt.tcpcongestion" style="width: 165px;">
            <a-select-option value="bbr">bbr（bbr accelerate）</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
{{end}}