{{define "form/streamSplitHTTP"}}
<a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label='host'>
        <a-input v-model.trim="inbound.stream.splithttp.host"></a-input>
    </a-form-item>
    <a-form-item label='path'>
        <a-input v-model.trim="inbound.stream.splithttp.path"></a-input>
    </a-form-item>
    <a-form-item label="请求头">
        <a-row>
            <a-button size="small" @click="inbound.stream.splithttp.addHeader('Host', '')">
                +
            </a-button>
        </a-row>
        <a-input-group v-for="(header, index) in inbound.stream.splithttp.headers">
            <a-input style="width: 50%" v-model.trim="header.name" addon-before="名称"></a-input>
            <a-input style="width: 50%" v-model.trim="header.value" addon-before="值">
                <template slot="addonAfter">
                    <a-button size="small" @click="inbound.stream.splithttp.removeHeader(index)">
                        -
                    </a-button>
                </template>
            </a-input>
        </a-input-group>
    </a-form-item>
    <a-form-item label="Mode">
        <a-select v-model="inbound.stream.splithttp.mode" style="width: 50%">
            <a-select-option v-for="key in MODE_OPTION" :value="key">[[ key ]]</a-select-option>
            </a-se-chlect>
    </a-form-item>
    <a-form-item label="Max Concurrent Upload">
        <a-input-number v-model="inbound.stream.splithttp.scMaxConcurrentPosts" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="Max Upload Size (Byte)">
        <a-input-number v-model="inbound.stream.splithttp.scMaxEachPostBytes" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="Min Upload Interval (Ms)">
        <a-input-number v-model="inbound.stream.splithttp.scMinPostsIntervalMs" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="No SSE Header">
        <a-switch v-model="inbound.stream.splithttp.noSSEHeader"></a-switch>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            xPadding Bytes (Byte)
            <a-tooltip>
                <template slot="title">
                    设置请求（出站）和响应（入站）的填充大小，用于减少请求指纹。单位byte, 默认为 "100-1000" 每次会在该范围中随机选择一个数字。 也可以是单个数字 "200"/200
                    设置为 -1 将完全禁用填充
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.stream.splithttp.xPaddingBytes" style="width: 100px"></a-input>
    </a-form-item>

    <a-form-item>
        <span slot="label">
            Max Connections
            <a-tooltip>
                <template slot="title">
                    maxConnections: 默认值为空 为0(即无限) 要打开的最大连接数，连接达到此值前核心会积极打开连接，对每一条流都新建一个连接，直到达到该值。
                    然后核心会开始复用已经建立的连接。 与 maxConcurrency 冲突。
                    所有字段类型均为 int/string 均支持固定值 16 或浮动值 "8-32" 的写法
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.stream.splithttp.xmux.maxConnections" style="width: 100px"></a-input>
    </a-form-item>

    <a-form-item>
        <span slot="label">
            Max Concurrency
            <a-tooltip>
                <template slot="title">
                    maxConcurrency: 默认值为空 为0(即无限) 每个连接中复用的流的最大数量，连接中流的数量达到该值后核心会新建更多连接以容纳更多的流，
                    类似于 mux.cool 的 concurrency. 与 maxConnections 冲突。
                    所有字段类型均为 int/string 均支持固定值 16 或浮动值 "8-32" 的写法
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.stream.splithttp.xmux.maxConcurrency" style="width: 100px"></a-input>
    </a-form-item>

    <a-form-item label="Max Reuse Times">
        <a-input v-model.trim="inbound.stream.splithttp.xmux.cMaxReuseTimes" style="width: 100px"></a-input>
    </a-form-item>
    <a-form-item label="Max Lifetime (ms)">
        <a-input v-model.trim="inbound.stream.splithttp.xmux.cMaxLifetimeMs" style="width: 100px"></a-input>
    </a-form-item>
</a-form>
{{end}}