{{define "form/finalmaskSettings"}}
<a-form layout="inline">
    <a-form-item label="FinalMask">
        <a-switch v-model="inbound.stream.finalmaskSwitch"></a-switch>
    </a-form-item>
</a-form>
<a-form v-if="inbound.stream.finalmaskSwitch" :colon="false" :label-col="{ md: {span:10} }" :wrapper-col="{ md: {span:12} }">
    <a-divider orientation="left">FinalMask</a-divider>
    <a-divider orientation="left">quicParams</a-divider>
    <a-form-item>
        <span slot="label">
            congestion
            <a-tooltip>
                <template slot="title">
                    拥塞控制算法。reno/bbr: 标准算法；brutal: 与对端协商固定速率或降级 BBR；force-brutal: 强制上行使用 brutalUp，无视对端协商。Hysteria 默认 brutal，XHTTP H3 默认 bbr
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-select v-model="inbound.stream.finalmask.quicParams.congestion">
            <a-select-option value="reno">reno</a-select-option>
            <a-select-option value="bbr">bbr</a-select-option>
            <a-select-option value="brutal">brutal</a-select-option>
            <a-select-option value="force-brutal">force-brutal</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item v-if="inbound.stream.finalmask.quicParams.congestion === 'bbr'">
        <span slot="label">
            bbrProfile
            <a-tooltip>
                <template slot="title">
                    当 congestion 为 bbr 时的 BBR 预设。conservative 稍保守，standard 默认，aggressive 稍激进
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-select v-model="inbound.stream.finalmask.quicParams.bbrProfile">
            <a-select-option value="conservative">conservative</a-select-option>
            <a-select-option value="standard">standard</a-select-option>
            <a-select-option value="aggressive">aggressive</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label="debug">
        <a-switch v-model="inbound.stream.finalmask.quicParams.debug"></a-switch>
    </a-form-item>
    <a-form-item label="brutalUp">
        <a-input v-model.trim="inbound.stream.finalmask.quicParams.brutalUp"></a-input>
    </a-form-item>
    <a-form-item label="brutalDown">
        <a-input v-model.trim="inbound.stream.finalmask.quicParams.brutalDown"></a-input>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            udpHop
            <a-tooltip>
                <template slot="title">
                    UDP 端口跳跃。开启后与 Hysteria2 端口跳跃联动（端口同步）
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-switch :checked="inbound.stream.finalmask.quicParams.udpHopSwitch"
                  @change="val => {
                      inbound.stream.finalmask.quicParams.udpHopSwitch = val;
                      // 联动 Hysteria2 端口跳跃
                      if (inbound.stream.hysteria && inbound.stream.hysteria.portHopping) {
                          if (val) {
                              inbound.stream.hysteria.portHopping.enabled = true;
                              inbound.stream.hysteria.portHopping.ports = inbound.stream.finalmask.quicParams.udpHop.ports;
                          } else {
                              inbound.stream.hysteria.portHopping.enabled = false;
                          }
                      }
                  }"></a-switch>
    </a-form-item>
    <template v-if="inbound.stream.finalmask.quicParams.udpHopSwitch">
        <a-form-item label="udpHop.ports">
            <a-input v-model.trim="inbound.stream.finalmask.quicParams.udpHop.ports"
                     @change="() => {
                         // 同步到 Hysteria2 端口跳跃
                         if (inbound.stream.hysteria && inbound.stream.hysteria.portHopping && inbound.stream.hysteria.portHopping.enabled) {
                             inbound.stream.hysteria.portHopping.ports = inbound.stream.finalmask.quicParams.udpHop.ports;
                         }
                     }"></a-input>
        </a-form-item>
        <a-form-item label="udpHop.interval">
            <a-input v-model.trim="inbound.stream.finalmask.quicParams.udpHop.interval"></a-input>
        </a-form-item>
    </template>
    <a-form-item>
        <span slot="label">
            initStreamRecvWindow
            <a-tooltip>
                <template slot="title">
                    FinalMask.quicParams.initStreamReceiveWindow
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.initStreamReceiveWindow" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            maxStreamRecvWindow
            <a-tooltip>
                <template slot="title">
                    FinalMask.quicParams.maxStreamReceiveWindow
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.maxStreamReceiveWindow" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            initConnRecvWindow
            <a-tooltip>
                <template slot="title">
                    FinalMask.quicParams.initConnectionReceiveWindow
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.initConnectionReceiveWindow" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            maxConnRecvWindow
            <a-tooltip>
                <template slot="title">
                    FinalMask.quicParams.maxConnectionReceiveWindow
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.maxConnectionReceiveWindow" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>
    <a-form-item label="maxIdleTimeout">
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.maxIdleTimeout" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>
    <a-form-item label="keepAlivePeriod">
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.keepAlivePeriod" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            disablePathMTU
            <a-tooltip>
                <template slot="title">
                    FinalMask.quicParams.disablePathMTUDiscovery
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-switch v-model="inbound.stream.finalmask.quicParams.disablePathMTUDiscovery"></a-switch>
    </a-form-item>
    <a-form-item label="maxIncomingStreams">
        <a-input-number v-model.number="inbound.stream.finalmask.quicParams.maxIncomingStreams" :min="0" style="width: 100%"></a-input-number>
    </a-form-item>

    <a-form-item label="Mask 类型">
        <a-select v-model="inbound.stream.finalmask.maskType" style="width: 180px;">
            <a-select-option value="tcp">tcp</a-select-option>
            <a-select-option value="udp">udp</a-select-option>
        </a-select>
    </a-form-item>

    <template v-if="inbound.stream.finalmask.maskType === 'tcp'">
        <a-divider orientation="left">tcp</a-divider>
        <a-form-item>
            <span slot="label">
                tcp
                <a-tooltip>
                    <template slot="title">
                        FinalMask.tcp 为独立数组配置，支持 header-custom、fragment、sudoku
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-button size="small" @click="inbound.stream.finalmask.addTcpMask()">
                +
            </a-button>
        </a-form-item>
        <template v-for="(mask, index) in inbound.stream.finalmask.tcp">
            <a-input-group :key="'tcp-mask-' + index" compact style="display: flex; margin-bottom: 8px;">
                <a-select :value="mask.type" style="width: 35%" @change="value => mask.setType(value)">
                    <a-select-option value="">关闭</a-select-option>
                    <a-select-option value="header-custom">header-custom</a-select-option>
                    <a-select-option value="fragment">fragment</a-select-option>
                    <a-select-option value="sudoku">sudoku</a-select-option>
                </a-select>
                <a-button v-if="mask.type === 'header-custom'" size="small" style="width: 20%" @click="mask.settings.tcpHeaderCustom.addClientsGroup()">
                    + clients
                </a-button>
                <a-button v-else-if="mask.type === 'sudoku'" size="small" style="width: 20%" @click="mask.settings.sudoku.addCustomTable('')">
                    + customTables
                </a-button>
                <a-button size="small" style="width: 10%" @click="inbound.stream.finalmask.removeTcpMask(index)">
                    -
                </a-button>
            </a-input-group>
            <template v-if="mask.type === 'header-custom'">
                <a-divider orientation="left">clients</a-divider>
                <template v-for="(group, groupIndex) in mask.settings.tcpHeaderCustom.clients">
                    <a-form-item :key="'tcp-clients-group-' + index + '-' + groupIndex" :label="'clients[' + groupIndex + ']'">
                        <a-space>
                            <a-button size="small" @click="mask.settings.tcpHeaderCustom.addClient(groupIndex)">
                                + item
                            </a-button>
                            <a-button size="small" @click="mask.settings.tcpHeaderCustom.removeClientsGroup(groupIndex)">
                                - group
                            </a-button>
                        </a-space>
                    </a-form-item>
                    <template v-for="(item, itemIndex) in group">
                        <a-form-item :key="'tcp-client-item-' + index + '-' + groupIndex + '-' + itemIndex" :label="'clients[' + groupIndex + '][' + itemIndex + ']'">
                            <a-space>
                                <a-button size="small" :disabled="item.rand > 0" @click="item.addPacket('')">
                                    + packet
                                </a-button>
                                <a-button size="small" @click="mask.settings.tcpHeaderCustom.removeClient(groupIndex, itemIndex)">
                                    - item
                                </a-button>
                            </a-space>
                        </a-form-item>
                        <a-form-item :label="'clients[' + groupIndex + '][' + itemIndex + '].delay'">
                            <a-input-number v-model.number="item.delay" :min="0" style="width: 100%"></a-input-number>
                        </a-form-item>
                        <a-form-item :label="'clients[' + groupIndex + '][' + itemIndex + '].rand'">
                            <a-input-number v-model.number="item.rand" :min="0" :disabled="item.packet.length > 0" style="width: 100%" @change="value => { if (value > 0) item.packet = []; }"></a-input-number>
                        </a-form-item>
                        <a-form-item :label="'clients[' + groupIndex + '][' + itemIndex + '].randRange'">
                            <a-input v-model.trim="item.randRange"></a-input>
                        </a-form-item>
                        <a-form-item :label="'clients[' + groupIndex + '][' + itemIndex + '].type'">
                            <a-select v-model="item.type">
                                <a-select-option value="array">array</a-select-option>
                                <a-select-option value="str">str</a-select-option>
                                <a-select-option value="hex">hex</a-select-option>
                                <a-select-option value="base64">base64</a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item :label="'clients[' + groupIndex + '][' + itemIndex + '].packet'">
                            <span>rand 与 packet 二选一；rand 大于 0 时不可添加 packet，存在 packet 时不可填写 rand</span>
                        </a-form-item>
                        <a-input-group v-for="(packet, packetIndex) in item.packet" :key="'tcp-client-packet-' + index + '-' + groupIndex + '-' + itemIndex + '-' + packetIndex" compact style="display: flex; margin-bottom: 8px;">
                            <a-input style="width: 85%" v-model.trim="item.packet[packetIndex]" :addon-before="'clients[' + groupIndex + '][' + itemIndex + '].packet[' + packetIndex + ']'"></a-input>
                            <a-button size="small" style="width: 15%" @click="item.removePacket(packetIndex)">
                                -
                            </a-button>
                        </a-input-group>
                    </template>
                </template>

                <a-divider orientation="left">servers</a-divider>
                <a-form-item :label="'servers'">
                    <a-button size="small" @click="mask.settings.tcpHeaderCustom.addServersGroup()">
                        +
                    </a-button>
                </a-form-item>
                <template v-for="(group, groupIndex) in mask.settings.tcpHeaderCustom.servers">
                    <a-form-item :key="'tcp-servers-group-' + index + '-' + groupIndex" :label="'servers[' + groupIndex + ']'">
                        <a-space>
                            <a-button size="small" @click="mask.settings.tcpHeaderCustom.addServer(groupIndex)">
                                + item
                            </a-button>
                            <a-button size="small" @click="mask.settings.tcpHeaderCustom.removeServersGroup(groupIndex)">
                                - group
                            </a-button>
                        </a-space>
                    </a-form-item>
                    <template v-for="(item, itemIndex) in group">
                        <a-form-item :key="'tcp-server-item-' + index + '-' + groupIndex + '-' + itemIndex" :label="'servers[' + groupIndex + '][' + itemIndex + ']'">
                            <a-space>
                                <a-button size="small" :disabled="item.rand > 0" @click="item.addPacket('')">
                                    + packet
                                </a-button>
                                <a-button size="small" @click="mask.settings.tcpHeaderCustom.removeServer(groupIndex, itemIndex)">
                                    - item
                                </a-button>
                            </a-space>
                        </a-form-item>
                        <a-form-item :label="'servers[' + groupIndex + '][' + itemIndex + '].delay'">
                            <a-input-number v-model.number="item.delay" :min="0" style="width: 100%"></a-input-number>
                        </a-form-item>
                        <a-form-item :label="'servers[' + groupIndex + '][' + itemIndex + '].rand'">
                            <a-input-number v-model.number="item.rand" :min="0" :disabled="item.packet.length > 0" style="width: 100%" @change="value => { if (value > 0) item.packet = []; }"></a-input-number>
                        </a-form-item>
                        <a-form-item :label="'servers[' + groupIndex + '][' + itemIndex + '].randRange'">
                            <a-input v-model.trim="item.randRange"></a-input>
                        </a-form-item>
                        <a-form-item :label="'servers[' + groupIndex + '][' + itemIndex + '].type'">
                            <a-select v-model="item.type">
                                <a-select-option value="array">array</a-select-option>
                                <a-select-option value="str">str</a-select-option>
                                <a-select-option value="hex">hex</a-select-option>
                                <a-select-option value="base64">base64</a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item :label="'servers[' + groupIndex + '][' + itemIndex + '].packet'">
                            <span>rand 与 packet 二选一；rand 大于 0 时不可添加 packet，存在 packet 时不可填写 rand</span>
                        </a-form-item>
                        <a-input-group v-for="(packet, packetIndex) in item.packet" :key="'tcp-server-packet-' + index + '-' + groupIndex + '-' + itemIndex + '-' + packetIndex" compact style="display: flex; margin-bottom: 8px;">
                            <a-input style="width: 85%" v-model.trim="item.packet[packetIndex]" :addon-before="'servers[' + groupIndex + '][' + itemIndex + '].packet[' + packetIndex + ']'"></a-input>
                            <a-button size="small" style="width: 15%" @click="item.removePacket(packetIndex)">
                                -
                            </a-button>
                        </a-input-group>
                    </template>
                </template>

                <a-divider orientation="left">errors</a-divider>
                <a-form-item :label="'errors'">
                    <a-button size="small" @click="mask.settings.tcpHeaderCustom.addErrorsGroup()">
                        +
                    </a-button>
                </a-form-item>
                <template v-for="(group, groupIndex) in mask.settings.tcpHeaderCustom.errors">
                    <a-form-item :key="'tcp-errors-group-' + index + '-' + groupIndex" :label="'errors[' + groupIndex + ']'">
                        <a-space>
                            <a-button size="small" @click="mask.settings.tcpHeaderCustom.addError(groupIndex)">
                                + item
                            </a-button>
                            <a-button size="small" @click="mask.settings.tcpHeaderCustom.removeErrorsGroup(groupIndex)">
                                - group
                            </a-button>
                        </a-space>
                    </a-form-item>
                    <template v-for="(item, itemIndex) in group">
                        <a-form-item :key="'tcp-error-item-' + index + '-' + groupIndex + '-' + itemIndex" :label="'errors[' + groupIndex + '][' + itemIndex + ']'">
                            <a-space>
                                <a-button size="small" :disabled="item.rand > 0" @click="item.addPacket('')">
                                    + packet
                                </a-button>
                                <a-button size="small" @click="mask.settings.tcpHeaderCustom.removeError(groupIndex, itemIndex)">
                                    - item
                                </a-button>
                            </a-space>
                        </a-form-item>
                        <a-form-item :label="'errors[' + groupIndex + '][' + itemIndex + '].delay'">
                            <a-input-number v-model.number="item.delay" :min="0" style="width: 100%"></a-input-number>
                        </a-form-item>
                        <a-form-item :label="'errors[' + groupIndex + '][' + itemIndex + '].rand'">
                            <a-input-number v-model.number="item.rand" :min="0" :disabled="item.packet.length > 0" style="width: 100%" @change="value => { if (value > 0) item.packet = []; }"></a-input-number>
                        </a-form-item>
                        <a-form-item :label="'errors[' + groupIndex + '][' + itemIndex + '].randRange'">
                            <a-input v-model.trim="item.randRange"></a-input>
                        </a-form-item>
                        <a-form-item :label="'errors[' + groupIndex + '][' + itemIndex + '].type'">
                            <a-select v-model="item.type">
                                <a-select-option value="array">array</a-select-option>
                                <a-select-option value="str">str</a-select-option>
                                <a-select-option value="hex">hex</a-select-option>
                                <a-select-option value="base64">base64</a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item :label="'errors[' + groupIndex + '][' + itemIndex + '].packet'">
                            <span>rand 与 packet 二选一；rand 大于 0 时不可添加 packet，存在 packet 时不可填写 rand</span>
                        </a-form-item>
                        <a-input-group v-for="(packet, packetIndex) in item.packet" :key="'tcp-error-packet-' + index + '-' + groupIndex + '-' + itemIndex + '-' + packetIndex" compact style="display: flex; margin-bottom: 8px;">
                            <a-input style="width: 85%" v-model.trim="item.packet[packetIndex]" :addon-before="'errors[' + groupIndex + '][' + itemIndex + '].packet[' + packetIndex + ']'"></a-input>
                            <a-button size="small" style="width: 15%" @click="item.removePacket(packetIndex)">
                                -
                            </a-button>
                        </a-input-group>
                    </template>
                </template>
            </template>
            <template v-else-if="mask.type === 'fragment'">
                <a-form-item>
                    <span slot="label">
                        packets
                        <a-tooltip>
                            <template slot="title">
                                "1-3" = TCP 流切片；"tlshello" = TLS ClientHello 切片
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-input v-model.trim="mask.settings.fragment.packets"></a-input>
                </a-form-item>
                <a-form-item>
                    <span slot="label">
                        lengths
                        <a-tooltip>
                            <template slot="title">
                                分片包长 (byte) 数组，如 ["3-5","6-8","10-20"]。最后一项对后续所有分片生效，除最后一项外可为 0（空转等待下次 delay）
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-button size="small" @click="mask.settings.fragment && mask.settings.fragment.lengths ? mask.settings.fragment.lengths.push('3-5') : ''">+</a-button>
                </a-form-item>
                <a-input-group v-for="(len, lenIdx) in (mask.settings.fragment && mask.settings.fragment.lengths || [])" :key="'frag-len-' + index + '-' + lenIdx" compact style="display: flex; margin-bottom: 4px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.fragment.lengths[lenIdx]" :addon-before="'lengths[' + lenIdx + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.fragment.lengths.splice(lenIdx, 1)">-</a-button>
                </a-input-group>
                <a-form-item>
                    <span slot="label">
                        delays
                        <a-tooltip>
                            <template slot="title">
                                分片间隔 (ms) 数组，如 ["10-20"]。最后一项对后续所有分片生效。为 0 且 packets=tlshello 时 ClientHello 在一个 TCP 包中发送
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-button size="small" @click="mask.settings.fragment && mask.settings.fragment.delays ? mask.settings.fragment.delays.push('10-20') : ''">+</a-button>
                </a-form-item>
                <a-input-group v-for="(del, delIdx) in (mask.settings.fragment && mask.settings.fragment.delays || [])" :key="'frag-del-' + index + '-' + delIdx" compact style="display: flex; margin-bottom: 4px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.fragment.delays[delIdx]" :addon-before="'delays[' + delIdx + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.fragment.delays.splice(delIdx, 1)">-</a-button>
                </a-input-group>
                <a-form-item>
                    <span slot="label">
                        maxSplit
                        <a-tooltip>
                            <template slot="title">
                                最大分片次数，Int32Range 如 "3-6"。为 0 表示不限制
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-input v-model.trim="mask.settings.fragment.maxSplit"></a-input>
                </a-form-item>
            </template>
            <template v-else-if="mask.type === 'sudoku'">
                <a-form-item label="password">
                    <a-input-group compact style="display: flex;">
                        <a-input v-model.trim="mask.settings.sudoku.password" style="width: 80%"></a-input>
                        <a-button size="small" style="width: 20%" @click="mask.settings.sudoku.refreshPassword()">
                            更换
                        </a-button>
                    </a-input-group>
                </a-form-item>
                <a-form-item label="ascii">
                    <a-input v-model.trim="mask.settings.sudoku.ascii"></a-input>
                </a-form-item>
                <a-form-item label="customTable">
                    <a-input v-model.trim="mask.settings.sudoku.customTable"></a-input>
                </a-form-item>
                <a-form-item label="paddingMin">
                    <a-input-number v-model.number="mask.settings.sudoku.paddingMin" :min="0" style="width: 100%"></a-input-number>
                </a-form-item>
                <a-form-item label="paddingMax">
                    <a-input-number v-model.number="mask.settings.sudoku.paddingMax" :min="0" style="width: 100%"></a-input-number>
                </a-form-item>
                <a-input-group v-for="(table, tableIndex) in mask.settings.sudoku.customTables" :key="'tcp-sudoku-table-' + index + '-' + tableIndex" compact style="display: flex; margin-bottom: 8px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.sudoku.customTables[tableIndex]" :addon-before="'customTables[' + tableIndex + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.sudoku.removeCustomTable(tableIndex)">
                        -
                    </a-button>
                </a-input-group>
            </template>
        </template>
    </template>

    <template v-if="inbound.stream.finalmask.maskType === 'udp'">
        <a-divider orientation="left">udp</a-divider>
        <a-form-item>
            <span slot="label">
                udp
                <a-tooltip>
                    <template slot="title">
                        FinalMask.udp type: header-custom | mkcp-legacy | noise | salamander | sudoku | xdns | xicmp | realm
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-button size="small" @click="inbound.stream.finalmask.addUdpMask()">
                +
            </a-button>
        </a-form-item>
        <template v-for="(mask, index) in inbound.stream.finalmask.udp">
            <a-input-group :key="'udp-mask-' + index" compact style="display: flex; margin-bottom: 8px;">
                <a-select :value="mask.type" style="width: 35%" @change="value => mask.setType(value)">
                    <a-select-option value="">关闭</a-select-option>
                    <a-select-option value="header-custom">header-custom</a-select-option>
                    <a-select-option value="mkcp-legacy">mkcp-legacy</a-select-option>
                    <a-select-option value="noise">noise</a-select-option>
                    <a-select-option value="realm">realm</a-select-option>
                    <a-select-option value="salamander">salamander</a-select-option>
                    <a-select-option value="sudoku">sudoku</a-select-option>
                    <a-select-option value="xdns">xdns</a-select-option>
                    <a-select-option value="xicmp">xicmp</a-select-option>
                </a-select>
                <a-button v-if="mask.type === 'header-custom'" size="small" style="width: 20%" @click="mask.settings.udpHeaderCustom.addClient()">
                    + client
                </a-button>
                <a-button v-else-if="mask.type === 'noise'" size="small" style="width: 20%" @click="mask.settings.noise.addNoise()">
                    + noise
                </a-button>
                <a-button v-else-if="mask.type === 'sudoku'" size="small" style="width: 20%" @click="mask.settings.sudoku.addCustomTable('')">
                    + customTables
                </a-button>
                <a-button v-else-if="mask.type === 'xdns'" size="small" style="width: 20%" @click="mask.settings.xdns.addDomain('')">
                    + domains
                </a-button>
                <a-button v-else-if="mask.type === 'xicmp'" size="small" style="width: 20%" @click="mask.settings.xicmp.addIp('')">
                    + ips
                </a-button>
                <a-button v-else-if="mask.type === 'realm'" size="small" style="width: 20%" @click="mask.settings.realm.addStunServer('')">
                    + stun
                </a-button>
                <a-button size="small" style="width: 10%" @click="inbound.stream.finalmask.removeUdpMask(index)">
                    -
                </a-button>
            </a-input-group>
            <template v-if="mask.type === 'header-custom'">
                <a-divider orientation="left">client</a-divider>
                <template v-for="(item, itemIndex) in mask.settings.udpHeaderCustom.client">
                    <a-form-item :key="'udp-client-item-' + index + '-' + itemIndex" :label="'client[' + itemIndex + ']'">
                        <a-space>
                            <a-button size="small" :disabled="item.rand > 0" @click="item.addPacket('')">
                                + packet
                            </a-button>
                            <a-button size="small" @click="mask.settings.udpHeaderCustom.removeClient(itemIndex)">
                                -
                            </a-button>
                        </a-space>
                    </a-form-item>
                    <a-form-item :label="'client[' + itemIndex + '].rand'">
                        <a-input-number v-model.number="item.rand" :min="0" :disabled="item.packet.length > 0" style="width: 100%" @change="value => { if (value > 0) item.packet = []; }"></a-input-number>
                    </a-form-item>
                    <a-form-item :label="'client[' + itemIndex + '].randRange'">
                        <a-input v-model.trim="item.randRange"></a-input>
                    </a-form-item>
                    <a-form-item :label="'client[' + itemIndex + '].type'">
                        <a-select v-model="item.type">
                            <a-select-option value="array">array</a-select-option>
                            <a-select-option value="str">str</a-select-option>
                            <a-select-option value="hex">hex</a-select-option>
                            <a-select-option value="base64">base64</a-select-option>
                        </a-select>
                    </a-form-item>
                    <a-form-item :label="'client[' + itemIndex + '].packet'">
                        <span>rand 与 packet 二选一；rand 大于 0 时不可添加 packet，存在 packet 时不可填写 rand</span>
                    </a-form-item>
                    <a-input-group v-for="(packet, packetIndex) in item.packet" :key="'udp-client-packet-' + index + '-' + itemIndex + '-' + packetIndex" compact style="display: flex; margin-bottom: 8px;">
                        <a-input style="width: 85%" v-model.trim="item.packet[packetIndex]" :addon-before="'client[' + itemIndex + '].packet[' + packetIndex + ']'"></a-input>
                        <a-button size="small" style="width: 15%" @click="item.removePacket(packetIndex)">
                            -
                        </a-button>
                    </a-input-group>
                </template>

                <a-divider orientation="left">server</a-divider>
                <a-form-item :label="'server'">
                    <a-button size="small" @click="mask.settings.udpHeaderCustom.addServer()">
                        +
                    </a-button>
                </a-form-item>
                <template v-for="(item, itemIndex) in mask.settings.udpHeaderCustom.server">
                    <a-form-item :key="'udp-server-item-' + index + '-' + itemIndex" :label="'server[' + itemIndex + ']'">
                        <a-space>
                            <a-button size="small" :disabled="item.rand > 0" @click="item.addPacket('')">
                                + packet
                            </a-button>
                            <a-button size="small" @click="mask.settings.udpHeaderCustom.removeServer(itemIndex)">
                                -
                            </a-button>
                        </a-space>
                    </a-form-item>
                    <a-form-item :label="'server[' + itemIndex + '].rand'">
                        <a-input-number v-model.number="item.rand" :min="0" :disabled="item.packet.length > 0" style="width: 100%" @change="value => { if (value > 0) item.packet = []; }"></a-input-number>
                    </a-form-item>
                    <a-form-item :label="'server[' + itemIndex + '].randRange'">
                        <a-input v-model.trim="item.randRange"></a-input>
                    </a-form-item>
                    <a-form-item :label="'server[' + itemIndex + '].type'">
                        <a-select v-model="item.type">
                            <a-select-option value="array">array</a-select-option>
                            <a-select-option value="str">str</a-select-option>
                            <a-select-option value="hex">hex</a-select-option>
                            <a-select-option value="base64">base64</a-select-option>
                        </a-select>
                    </a-form-item>
                    <a-form-item :label="'server[' + itemIndex + '].packet'">
                        <span>rand 与 packet 二选一；rand 大于 0 时不可添加 packet，存在 packet 时不可填写 rand</span>
                    </a-form-item>
                    <a-input-group v-for="(packet, packetIndex) in item.packet" :key="'udp-server-packet-' + index + '-' + itemIndex + '-' + packetIndex" compact style="display: flex; margin-bottom: 8px;">
                        <a-input style="width: 85%" v-model.trim="item.packet[packetIndex]" :addon-before="'server[' + itemIndex + '].packet[' + packetIndex + ']'"></a-input>
                        <a-button size="small" style="width: 15%" @click="item.removePacket(packetIndex)">
                            -
                        </a-button>
                    </a-input-group>
                </template>
            </template>
            <template v-else-if="mask.type === 'mkcp-legacy'">
                <a-form-item>
                    <span slot="label">
                        header
                        <a-tooltip>
                            <template slot="title">
                                旧 mKCP 包头伪造。为空时 AES-128-GCM 加密（value 为密码）或简单 xor；dns 伪造 DNS 查询；dtls/srtp/utp/wechat/wireguard 伪造对应协议
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-select v-model="mask.settings.mkcpLegacy.header">
                        <a-select-option value="">空 (AES-128-GCM/XOR)</a-select-option>
                        <a-select-option value="dns">dns</a-select-option>
                        <a-select-option value="dtls">dtls</a-select-option>
                        <a-select-option value="srtp">srtp</a-select-option>
                        <a-select-option value="utp">utp</a-select-option>
                        <a-select-option value="wechat">wechat</a-select-option>
                        <a-select-option value="wireguard">wireguard</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item v-if="!mask.settings.mkcpLegacy.header">
                    <span slot="label">
                        password
                        <a-tooltip>
                            <template slot="title">
                                AES-128-GCM 加密密码。为空则使用默认简单 xor 混淆
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-input-group compact style="display: flex;">
                        <a-input v-model.trim="mask.settings.mkcpLegacy.value" style="width: 80%"></a-input>
                        <a-button size="small" style="width: 20%" @click="mask.settings.mkcpLegacy.value = Array.from(crypto.getRandomValues(new Uint8Array(16)), b => b.toString(16).padStart(2,'0')).join('')">
                            随机
                        </a-button>
                    </a-input-group>
                </a-form-item>
                <a-form-item v-else-if="mask.settings.mkcpLegacy.header === 'dns'">
                    <span slot="label">
                        domain
                        <a-tooltip>
                            <template slot="title">
                                伪造 DNS 查询的域名，默认 www.baidu.com
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-input v-model.trim="mask.settings.mkcpLegacy.value" placeholder="www.baidu.com"></a-input>
                </a-form-item>
            </template>
            <template v-else-if="mask.type === 'noise'">
                <a-form-item label="reset">
                    <a-input-number v-model.number="mask.settings.noise.reset" :min="0" style="width: 100%"></a-input-number>
                </a-form-item>
                <template v-for="(item, itemIndex) in mask.settings.noise.noise">
                    <a-form-item :key="'udp-noise-item-' + index + '-' + itemIndex" :label="'noise[' + itemIndex + ']'">
                        <a-space>
                            <a-button size="small" :disabled="item.rand && item.rand !== '0'" @click="item.addPacket('')">
                                + packet
                            </a-button>
                            <a-button size="small" @click="mask.settings.noise.removeNoise(itemIndex)">
                                -
                            </a-button>
                        </a-space>
                    </a-form-item>
                    <a-form-item :label="'noise[' + itemIndex + '].rand'">
                        <a-input :value="item.rand" :disabled="item.packet.length > 0" @change="event => item.setRand(event.target.value)"></a-input>
                    </a-form-item>
                    <a-form-item :label="'noise[' + itemIndex + '].randRange'">
                        <a-input v-model.trim="item.randRange"></a-input>
                    </a-form-item>
                    <a-form-item :label="'noise[' + itemIndex + '].type'">
                        <a-select v-model="item.type">
                            <a-select-option value="array">array</a-select-option>
                            <a-select-option value="str">str</a-select-option>
                            <a-select-option value="hex">hex</a-select-option>
                            <a-select-option value="base64">base64</a-select-option>
                        </a-select>
                    </a-form-item>
                    <a-form-item :label="'noise[' + itemIndex + '].packet'">
                        <span>rand 与 packet 二选一；填写 rand 后不可添加 packet，存在 packet 时不可填写 rand</span>
                    </a-form-item>
                    <a-form-item :label="'noise[' + itemIndex + '].delay'">
                        <a-input v-model.trim="item.delay"></a-input>
                    </a-form-item>
                    <a-input-group v-for="(packet, packetIndex) in item.packet" :key="'udp-noise-packet-' + index + '-' + itemIndex + '-' + packetIndex" compact style="display: flex; margin-bottom: 8px;">
                        <a-input style="width: 85%" v-model.trim="item.packet[packetIndex]" :addon-before="'noise[' + itemIndex + '].packet[' + packetIndex + ']'"></a-input>
                        <a-button size="small" style="width: 15%" @click="item.removePacket(packetIndex)">
                            -
                        </a-button>
                    </a-input-group>
                </template>
            </template>
            <template v-else-if="mask.type === 'salamander'">
                <a-form-item label="password">
                    <a-input-group compact style="display: flex;">
                        <a-input v-model.trim="mask.settings.salamander.password" style="width: 80%"></a-input>
                        <a-button size="small" style="width: 20%" @click="mask.settings.salamander.refreshPassword()">
                            更换
                        </a-button>
                    </a-input-group>
                </a-form-item>
                <a-form-item>
                    <span slot="label">
                        packetSize
                        <a-tooltip>
                            <template slot="title">
                                Gecko 混淆。Int32Range，上限 2048。不为空则对 QUIC 长包头分片填充混淆，短包头直接使用 Salamander
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-input v-model.trim="mask.settings.salamander.packetSize" placeholder="e.g. 512-1200"></a-input>
                </a-form-item>
            </template>
            <template v-else-if="mask.type === 'sudoku'">
                <a-form-item label="password">
                    <a-input-group compact style="display: flex;">
                        <a-input v-model.trim="mask.settings.sudoku.password" style="width: 80%"></a-input>
                        <a-button size="small" style="width: 20%" @click="mask.settings.sudoku.refreshPassword()">
                            更换
                        </a-button>
                    </a-input-group>
                </a-form-item>
                <a-form-item label="ascii">
                    <a-input v-model.trim="mask.settings.sudoku.ascii"></a-input>
                </a-form-item>
                <a-form-item label="customTable">
                    <a-input v-model.trim="mask.settings.sudoku.customTable"></a-input>
                </a-form-item>
                <a-form-item label="paddingMin">
                    <a-input-number v-model.number="mask.settings.sudoku.paddingMin" :min="0" style="width: 100%"></a-input-number>
                </a-form-item>
                <a-form-item label="paddingMax">
                    <a-input-number v-model.number="mask.settings.sudoku.paddingMax" :min="0" style="width: 100%"></a-input-number>
                </a-form-item>
                <a-input-group v-for="(table, tableIndex) in mask.settings.sudoku.customTables" :key="'udp-sudoku-table-' + index + '-' + tableIndex" compact style="display: flex; margin-bottom: 8px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.sudoku.customTables[tableIndex]" :addon-before="'customTables[' + tableIndex + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.sudoku.removeCustomTable(tableIndex)">
                        -
                    </a-button>
                </a-input-group>
            </template>
            <template v-else-if="mask.type === 'realm'">
                <a-form-item>
                    <span slot="label">
                        URL
                        <a-tooltip>
                            <template slot="title">
                                Format: realm[+http]://token@host[:port]/id
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-input v-model.trim="mask.settings.realm.url" placeholder="realm://token@host:port/id"></a-input>
                </a-form-item>
                <a-form-item>
                    <span slot="label">
                        STUN Servers
                        <a-tooltip>
                            <template slot="title">
                                多个 STUN 服务器用于 NAT 端口预测，如 stun.nextcloud.com:3478
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-button size="small" @click="mask.settings.realm.addStunServer('')">+</a-button>
                </a-form-item>
                <a-input-group v-for="(srv, srvIdx) in mask.settings.realm.stunServers" :key="'realm-stun-' + index + '-' + srvIdx" compact style="display: flex; margin-bottom: 4px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.realm.stunServers[srvIdx]" :addon-before="'stunServers[' + srvIdx + ']'" placeholder="host:port"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.realm.removeStunServer(srvIdx)">-</a-button>
                </a-input-group>
                <a-divider orientation="left" style="margin: 8px 0;">TLS (optional)</a-divider>
                <a-form-item label="Server Name">
                    <a-input v-model.trim="mask.settings.realm.tlsConfig.serverName" placeholder="SNI for realm server"></a-input>
                </a-form-item>
                <a-form-item label="ALPN">
                    <a-select v-model="mask.settings.realm.tlsConfig.alpn" mode="multiple" style="width: 100%;">
                        <a-select-option value="h3">h3</a-select-option>
                        <a-select-option value="h2">h2</a-select-option>
                        <a-select-option value="http/1.1">http/1.1</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item label="Fingerprint">
                    <a-select v-model="mask.settings.realm.tlsConfig.fingerprint" allowClear style="width: 100%;">
                        <a-select-option value="">auto</a-select-option>
                        <a-select-option value="chrome">chrome</a-select-option>
                        <a-select-option value="firefox">firefox</a-select-option>
                        <a-select-option value="safari">safari</a-select-option>
                        <a-select-option value="ios">ios</a-select-option>
                        <a-select-option value="android">android</a-select-option>
                        <a-select-option value="edge">edge</a-select-option>
                        <a-select-option value="360">360</a-select-option>
                        <a-select-option value="qq">qq</a-select-option>
                        <a-select-option value="random">random</a-select-option>
                        <a-select-option value="randomized">randomized</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item label="Allow Insecure">
                    <a-switch v-model="mask.settings.realm.tlsConfig.allowInsecure"></a-switch>
                </a-form-item>
            </template>
            <template v-else-if="mask.type === 'xdns'">
                <a-form-item>
                    <span slot="label">
                        domains
                        <a-tooltip>
                            <template slot="title">
                                Server-side domain list. Supports domain:method (txt, a, aaaa). At least one of domains or resolvers must be filled.
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-button size="small" @click="mask.settings.xdns.addDomain('')">+</a-button>
                </a-form-item>
                <a-input-group v-for="(d, dIdx) in mask.settings.xdns.domains" :key="'xdns-domain-' + index + '-' + dIdx" compact style="display: flex; margin-bottom: 4px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.xdns.domains[dIdx]" :addon-before="'domains[' + dIdx + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.xdns.removeDomain(dIdx)">-</a-button>
                </a-input-group>
                <a-form-item>
                    <span slot="label">
                        resolvers
                        <a-tooltip>
                            <template slot="title">
                                Client-side resolvers. Format: domain[:method]+udp://server:port. Default method: txt.
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-button size="small" @click="mask.settings.xdns.addResolver('')">+</a-button>
                </a-form-item>
                <a-input-group v-for="(r, rIdx) in mask.settings.xdns.resolvers" :key="'xdns-resolver-' + index + '-' + rIdx" compact style="display: flex; margin-bottom: 4px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.xdns.resolvers[rIdx]" :addon-before="'resolvers[' + rIdx + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.xdns.removeResolver(rIdx)">-</a-button>
                </a-input-group>
            </template>
            <template v-else-if="mask.type === 'xicmp'">
                <a-form-item>
                    <span slot="label">
                        dgram
                        <a-tooltip>
                            <template slot="title">
                                Lower privilege mode, client-only (Linux, Mac, iOS)
                            </template>
                            <a-icon type="question-circle" theme="filled"></a-icon>
                        </a-tooltip>
                    </span>
                    <a-switch v-model="mask.settings.xicmp.dgram"></a-switch>
                </a-form-item>
                <a-form-item label="ips">
                    <a-button size="small" @click="mask.settings.xicmp.addIp('')">+</a-button>
                </a-form-item>
                <a-input-group v-for="(ip, ipIdx) in mask.settings.xicmp.ips" :key="'xicmp-ip-' + index + '-' + ipIdx" compact style="display: flex; margin-bottom: 4px;">
                    <a-input style="width: 85%" v-model.trim="mask.settings.xicmp.ips[ipIdx]" :addon-before="'ips[' + ipIdx + ']'"></a-input>
                    <a-button size="small" style="width: 15%" @click="mask.settings.xicmp.removeIp(ipIdx)">-</a-button>
                </a-input-group>
            </template>
        </template>
    </template>
</a-form>
{{end}}
